/* 全局样式css */
body {
    background: url("../img/v2-a261bb8501e6a667100269198a95a935_r.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-thumb {
    background: #77a1c8;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d6e1eb
}

.card {
    margin-bottom: 2vh;
    border-radius: 20px;
    background: linear-gradient(145deg, #f0eeee, #cbc9c9);
    opacity: 0.9;
    transition: all 300ms;
}